* {
	box-sizing: border-box;
}
body{
	margin:0;
	padding:0;
	overflow-x: hidden;
}
body::-webkit-scrollbar {
	display: none;
}
nav{
	width:100vw;
	height:60px;
	background-color:white;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
header{
	width:100vw;
	height:350px;
	background-color:#9BC1BC;
	text-align:center;
}
.homepage{
	width:100vw;
	height:570px;
	background-color:white;
	padding: 10px;
}
h1{
	padding:10px;
	margin:auto;
	font-family: "Courier Prime", monospace;
	font-size:85px;
	color:black;
	font-weight: 700;
}
.center { 
  height: 350px;
  position: relative;
}

.center h1 {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}
li, a {
	font-family: "Cutive Mono";
	font-weight: 800;
	font-size: 18px;
	color: black;
	text-decoration: none;
}
.nav__links {
	list-style: none;
}
.nav__links, li{
	display: inline-block;
	padding: 0px 20px;
}
.nav__links li a {
	transition: all 0.1s ease 0s;
}
.logo{
	position: relative;
	left: 10px;
	top: 2px;
	cursor: pointer;
	margin-right: auto;
}

.nav__links li a:hover {
	color: #79a39d;
	font-size: 20px;
}
section{
	width: 100vw;	
	height: 920px;
	background-color: #9BC1BC;
	display: inline-block;
	align-items: center;
	justify-content: center;
}
.subheading{
	font-family: "Courier Prime";
	font-weight: 600;
	font-size: 22px;
	color: black;
	position: relative;
	top: 2px;
	right: 650px;
	margin-right: auto;
}
.logoimg{
	height: 40px;
	width: 40px;
}
.container{
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	gap: 30px;
	margin-top: 20px;
}
.item{
	width: 900px;
	height: 400px;
	background-color: white;
	transition: all 0.3s ease 0s;
}
.item:hover{
	transform: scale(1.05); 
}
.divimg{
	background-color: white;
	height: 300px;
}
h3{
	margin: 0;
	font-family: "Cutive Mono";
	font-weight: 700;
}
p{
	margin: 0;
	font-family: "Cutive Mono";
	font-weight: 550;
}
.item2{
	width: 700px;
	height: 380px;
	padding: 5px;
	background-color: white;
}
.container2{
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	flex-wrap: wrap;
	gap: 30px;
	margin-top: 20px;
	padding-left: 20px;
}
.image2{
	position: relative;
	left: 745px;
	bottom: 785px;
	height: 785px;
	width: 1150px;
}
.timeline{
	height: 700px;
	width: 1900px;
}
.item3{
	width: 700px;
	height: 380px;
	background-color: white;
}
.kriegsmesser{
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	flex-wrap: wrap;
	gap: 30px;
	margin: 20px;
	background-image: url(../images/kriegsmesser2.jpg);
	height:810px;
}
.jian{
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	flex-wrap: wrap;
	gap: 30px;
	margin: 20px;
	background-image: url(../images/jian2.jpg);
	height:810px;
}
.gunto{
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	flex-wrap: wrap;
	gap: 30px;
	margin: 20px;
	background-image: url(../images/gunto2.jpg);
	height:810px;
}
.broadsword{
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	flex-wrap: wrap;
	gap: 30px;
	margin: 20px;
	background-image: url(../images/broadsword.jpg);
	height:810px;
}
.item3{
	background-color: white;
	outline: 10px;
	outline-color: black;
	padding: 3px;
}
h2{
	margin: 0;
	font-family: "Cutive Mono";
	font-weight: 700;
}
.p2{
	margin: 0;
	font-family: "Cutive Mono";
	font-weight: 600;
	font-size: 17px;
}
.specifications{
	font-family: "Cutive Mono";
	font-weight: 600;
	font-size: 17px;
	display: flex;
  flex-direction: column;
}